@import "~font-awesome/css/font-awesome.css";

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;

  overflow: hidden;
}


.chat-container {
  width: 380px;
  min-height: 500px;
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 10px;
}
.chat-container::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.chat-container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
.chat-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.5);
	background-color: #888;
}
.chat {
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #d6d6d6;
  max-width: 75%;
  clear: both;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.chat.other {
  align-self: flex-start;
}
.chat.other::before {
  content: "";
  position: absolute;
  left: -0.5em;
  bottom: 0;
  width: 0.5em;
  height: 1em;
  border-right: 0.5em solid #d6d6d6;
  border-bottom-right-radius: 1em 0.5em;
}
.chat.me {
  align-self: flex-end;
  background-color: #1289fe;
  color: white !important;
}
.chat.me::after {
  content: "";
  position: absolute;
  right: -0.5em;
  bottom: 0;
  width: 0.5em;
  height: 1em;
  border-left: 0.5em solid #1289fe;
  border-bottom-left-radius: 1em 0.5em;
}
